body {
    font-family: "Courier New", monospace;
}

.index {
    background-color: #ffff81;
    color: #c9ae00
}

.index li {
    background-color: rgba(0,0,0,0);
}

.main-img {
    height: 375px;
    width: auto;
}

.asparagus {
    background-color: #389600;
    color: #11500c;
}

.burger {
    background-color: #f6dc50;
}

.burger .title, .directions {
    color: #b0711e;
}

.burger .description{
    color: #389600;
}

.burger .ingredients {
    color: #925143;
}

.lasagna {
    background-color: #ffbd63;
    color: #ff7a24;
}